<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1e0542afd6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">

</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            
            <img src="images/logo-mercado-liebre.svg" class="logo" >
            <form class="contenedor-busqueda" action="" >
                <input type="search" placeholder="Buscar productos, marcas">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <h2 class="copy-header">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Compra en cuotas y sin tarjeta de crédito
            </h2> 
        
        </div>      
        <a href="#" class="hamburguer-button">
            <i class="fa-solid fa-bars"></i>
        </a>
        <section class="navbar">
        <nav class="main-navbar">
            <ul class="left-navbar">
            <li> <a href="#">Ofertas</a> </li>
            <li> <a href="#">Tiendas Oficiales</a></li>
            <li> <a href="#">Vender</a></li>
            <li> <a href="#">Ayuda</a></li>
        </ul> 
      </nav>  
      <nav class="main-navbar">
        <ul class="right-navbar">
            <li><a href="#">Crea tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
            <li><a href="#">Ingresar <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
            <li><a href="#">Mis compras <i class="fa-sharp fa-solid fa-basket-shopping"></i></a></li>
        </ul>
        </nav>        
    </section>
    </header>
    <section class="banner">
        <img src="/images/img-home-banner.jpg" alt="Banner de ofertas">
    </section>
    <main>
            <section class="last-visit">
            <h2>Basado en tu última compra</h2>
            <div class="elements-to-sell">
            <article class="product">
                <img src="images/img-cafetera-moulinex.jpg" width="360" alt="Cafetera">
                <div class="main-article">
                <i class="fas fa-truck truck-icon"></i>
                <p class="price">$6.770</p>
                <p class="discount">40% off</p>
                <h3 class="description">Cafetera Moulinex</h3>
                </div>
            </article>
            <article class="product">
                <img src="images/img-macbook-pro-2019.jpg" width="360" alt="Macbook">
                <div class="main-article">
                <i class="fas fa-truck truck-icon"></i>
                <p class="price">$230.000</p>
                <p class="discount">20% off</p>
                <h3 class="description">MacBook Pro 2019</h3>
                </div>
            </article>
            <article class="product">
                <img src="images/img-samsung-galaxy-s10.jpg" width="360" alt="Samsung Galaxy">
                <div class="main-article">
                <i class="fas fa-truck truck-icon"></i>
                <p class="price">$70.500</p>
                <p class="discount">5% off</p>
                <h3 class="description">Samsung Galaxy S10</h3>
            </div>
            </article>
        
            <article class="product">
                <img src="images/img-tv-samsung-smart.jpg" width="360" alt="SmartTv">
                <div class="main-article">
                    <i class="fas fa-truck truck-icon"></i>
                <p class="price">$23.200</p>
                <p class="discount">10% off</p>
                <h3 class="description">SmartTv Samsung 43"</h3>
            </article>
        
    </div>
        </section>
    
        <section class="offers">
            <h2>Ofertas</h2>
            <article class="product">
                <img src="images/img-cafetera-moulinex.jpg" width="360" alt="Cafetera">
                <div class="main-article">
                <i class="fas fa-truck truck-icon"></i>
                <p class="price">$6.770</p>
                <p class="discount">40% off</p>
                <h3 class="description">Cafetera Moulinex</h3>
                </div>
            </article>
            <article class="product">
                <img src="images/img-macbook-pro-2019.jpg" width="360" alt="Macbook">
                <div class="main-article">
                <i class="fas fa-truck truck-icon"></i>
                <p class="price">$230.000</p>
                <p class="discount">20% off</p>
                <h3 class="description">MacBook Pro 2019</h3>
                </div>
            </article>
            <article class="product">
                <img src="images/img-samsung-galaxy-s10.jpg" width="360" alt="Samsung Galaxy">
                <div class="main-article">
                <i class="fas fa-truck truck-icon"></i>
                <p class="price">$70.500</p>
                <p class="discount">5% off</p>
                <h3 class="description">Samsung Galaxy S10</h3>
            </div>
            </article>
            <article class="product">
                <img src="images/img-tv-samsung-smart.jpg" width="360" alt="SmartTv">
                <div class="main-article">
                    <i class="fas fa-truck truck-icon"></i>
                <p class="price">$23.200</p>
                <p class="discount">10% off</p>
                <h3 class="description">SmartTv Samsung 43"</h3>
            </article>
              
        
            </div>
        </section>

    </main>
    <footer>
        <article>
            <h4>
                Pagá con tarjeta o en efectivo</h4>
            <p>
                Con Mercado Liebre Cash, tenés cuotas sin <br>
                interés con tarjeta o effectivo en puntos de <br>
                pago ¡Y siempre es seguro!
            </p>
        </article>
        <article>
            <h4>
                Envío gratis desde los $2.500</h4>
            <p>
                Solo por estar registrado en Mercado Liebre<br>
                tenés envíos gratis en miles de productos. Es<br>
                un beneficio de Mercado Puntos.
            </p>
        </article>
        <article>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre<br>
                no hay nada que no puedas hacer porque estás<br>
                siempre protegid@.</p>
            <article>
                <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
            </article>
        </article>
        </article>
    </footer>
</body>

</html>